<html>
   <head>
      <title>JavaScript</title>
      <style>
         *{
            margin:0;
            padding: 0;
         }
      </style>
   </head>
   <body>
   <div id="app">
      <div v-if="step === 1">
         <ul>
            <li>
               <input id="rdoRectangle" type="radio" v-model='selectedShape' value="rectangle">
               <label for="rdoRectangle">Rectangle</label>
            </li>
            <li>
               <input id="rdoCircle" type="radio" v-model='selectedShape' value="circle">
               <label for="rdoCircle">Circle</label>
            </li>
            <li>
               <input id="rdoSquare" type="radio" v-model='selectedShape' value="square">
               <label for="rdoSquare">Square</label>
            </li>
            <li>
               <input id="rdoEllipse" type="radio" v-model='selectedShape' value="ellipse">
               <label for="rdoEllipse">Eclipse</label>
            </li>
         </ul>
      </div>
      <div v-if="step === 2">
         <div v-if="selectedShape === 'rectangle'">
            <p>Enter the area of Rectangle:</p>
            <label>Width</label>
            <input type="text">
            <label>Length</label>
            <input type="text">
            <input type="button" value="Calculate">
         </div>
         <div v-if="selectedShape === 'circle'">
            <p>Enter the radius of Circle:</p>
            <input type="text">
            <input type="button" value="Calculate">
         </div>
         <div v-if="selectedShape === 'square'">
            <p>Enter the area of Square:</p>
            <label>side (A)</label>
            <input type="text">
            <input type="button" value="Calculate">
         </div>
         <div v-if="selectedShape === 'ellipse'">
            <p>Enter the area of Ellipse:</p>
            <label>Side A(X-asix)</label>
            <input type="text">
            <label>Side B(Y-axis)</label>
            <input type="text">
            <input type="button" value="Calculate">
         </div>
      </div>
      <div v-if="step === 3">
         <div>
            <p>You have calculated the area of
            rectangle to be xx. Below is your
            result:</p>
           <p>The area is xx.</p>
         </div> 
      </div>

      <ul>
         {{errors}}
      </div>

      <button v-show="!(step == 3)" v-model="nextCount" v-on:click="next">Next</button>
      <button v-show="!(step == 1)" v-on:click="prev">
         <div v-if="step == 3">Start Over</div>
         <div v-else>Cancel</div>
      </button>
   </div>
   <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/vue"></script>
   <script type="text/javascript">
         var app = new Vue({
           el: '#app',
           data: {
             selectedShape: '',
             step: 1,
             nextCount:1,
             errors:''
           },
           methods:{
               next:function(){
                  if(this.selectedShape==""){
                     this.errors.push("<li>Please select a shape</li>");
                     return false;
                  }
                  this.nextCount++;
                  this.step = this.nextCount;
               },
               prev:function(){
                  this.step = 1;
                  this.nextCount = 1;
               }
           }
         })
   </script>
   </body>
</html>