<html>
   <head>
      <title>JavaScript</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <style>
         *{
            margin:0;
            padding: 0;
         }
      </style>

   </head>
   <body>
   <div id="app">
      <div v-if="step === 1">
         <ul>
            <li>
               <input id="rdoRectangle" type="radio" v-model='inputs.selectedShape' value="rectangle">
               <label for="rdoRectangle">Rectangle</label>
            </li>
            <li>
               <input id="rdoCircle" type="radio" v-model='inputs.selectedShape' value="circle">
               <label for="rdoCircle">Circle</label>
            </li>
            <li>
               <input id="rdoSquare" type="radio" v-model='inputs.selectedShape' value="square">
               <label for="rdoSquare">Square</label>
            </li>
            <li>
               <input id="rdoEllipse" type="radio" v-model='inputs.selectedShape' value="ellipse">
               <label for="rdoEllipse">Eclipse</label>
            </li>
         </ul>
      </div>
      <div v-if="step === 2">
         <div v-if="inputs.selectedShape === 'rectangle'">
            <p>You have selected a rectangle, please
input the required variables:</p>
            <p>Enter The Length*</p>
            <input type="number" v-model="inputs.recLength">
            <p>Enter The Width*</p>
            <input type="number" v-model="inputs.recWidth">
            <input type="button" v-on:click="next" value="Calculate">
         </div>
         <div v-if="inputs.selectedShape === 'circle'">
            <p>Enter the radius of Circle:</p>
            <input type="number" v-model="inputs.cirRadius">
            <input type="button" v-on:click="next" value="Calculate">
         </div>
         <div v-if="inputs.selectedShape === 'square'">
            <p>Enter the area of Square:</p>
            <p>side (A)</p>
            <input type="number" v-model="inputs.squSide">
            <input type="button" v-on:click="next" value="Calculate">
         </div>
         <div v-if="inputs.selectedShape === 'ellipse'">
            <p>Enter the area of Ellipse:</p>
            <p>Side A(X-asix)</p>
            <input type="number" v-model="inputs.xaxis">
            <p>Side B(Y-axis)</p>
            <input type="number" v-model="inputs.yaxis">
            <input type="button" v-on:click="next" value="Calculate">
         </div>
      </div>
      <div v-if="step === 3">
         <div>
            <p>You have calculated the area of
            rectangle to be xx. Below is your
            result:</p>
           <p>The area is xx.</p>
         </div> 
      </div>
   
      <div v-if="errors">
         <p v-for="error in errors">{{error}}</p>
      </div>


      <button v-show="!(step == 3)" v-on:click="next">Next</button>
      <button v-show="!(step == 1)" v-on:click="prev">
         <div v-if="step == 3">Start Over</div>
         <div v-else>Cancel</div>
      </button>
   </div>
   <script src="https://cdn.jsdelivr.net/npm/vue"></script>
   <script type="text/javascript">

         class Shape{
           constructor(shapeName,a,b){
             this.shapeName = shapeName;
             this.a = a;
             this.b = b;
           } 
           getArea(){
             
             switch(this.shapeName){
               case "circle": 
               return this.a*this.a*Math.PI
               break;
               
               case "rectangle": 
               return this.a*this.b
               break;
                 
               default: return '"'+this.shapeName+'"'+" is not a Shape"
               break;
             }
             
           }
         }


         var app = new Vue({
           el: '#app',
           data: {
             step: 1,
             nextCount:1,
             errors:[],
             inputs:{
               selectedShape:null,
               recLength:null,
               recWidth:null,
               cirRadius:null,
               squSide:null,
               xaxis:null,
               yaxis:null
             },
           },
           methods:{
               next:function(){

                  this.errors = [];

                  if(this.step == 1){
                     if(!this.inputs.selectedShape){
                        this.errors.push('Please select a shape');
                     }
                     if(this.errors.length > 0){
                        return false;
                     }
                  }

                  if(this.step == 2){

                     if(this.inputs.selectedShape == 'rectangle'){
                        if(!this.inputs.recLength){
                           this.errors.push('Length field required');
                        }
                        if(!this.inputs.recWidth){
                           this.errors.push('Width field required');
                        }

                        if(this.errors.length > 0){
                           return false;
                        }

                        var rectangle = new Shape('rectangle',this.inputs.recLength,this.inputs.recWidth);
                        alert(rectangle.getArea())
                     }

                     if(this.inputs.selectedShape == 'circle'){
                        if(!this.inputs.cirRadius){
                           this.errors.push('Radius field required');
                        }
                     }

                     if(this.inputs.selectedShape == 'square'){
                        if(!this.inputs.squSide){
                           this.errors.push('Side field required');
                        }
                     }

                     if(this.inputs.selectedShape == 'ellipse'){
                        if(!this.inputs.xaxis){
                           this.errors.push('x-asix field required');
                        }
                        if(!this.inputs.yaxis){
                           this.errors.push('y-axis field required');
                        }
                     }
                  }

                  this.nextCount++;
                  this.step = this.nextCount;
               },
               prev:function(){

                  this.errors = [];

                  this.step = 1;
                  this.nextCount = 1;
               }
           }
         })
   </script>

   </body>
</html>