<html>
   <head>
      <title>BombayWorks Task</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
      <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="ta.css">
   </head>
   <body>

      <div id="app">
      <div v-if="step === 1">
         <h2>Step 1 - Select Your Shape</h2>
         <ul class="selectShape">
            <li>
               <input ref="radio" id="rdoRectangle" type="radio" v-model='inputs.selectedShape' value="rectangle">
               <div class="circle">
                  <div class="dot"></div>
               </div>
               <label for="rdoRectangle">Rectangle</label>
            </li>
            <li>
               <input ref="radio" id="rdoCircle" type="radio" v-model='inputs.selectedShape' value="circle">
               <div class="circle">
                  <div class="dot"></div>
               </div>
               <label for="rdoCircle">Circle</label>
            </li>
            <li>
               <input ref="radio" id="rdoSquare" type="radio" v-model='inputs.selectedShape' value="square">
               <div class="circle">
                  <div class="dot"></div>
               </div>
               <label for="rdoSquare">Square</label>
            </li>
            <li>
               <input ref="radio" id="rdoEllipse" type="radio" v-model='inputs.selectedShape' value="ellipse">
               <div class="circle">
                  <div class="dot"></div>
               </div>
               <label for="rdoEllipse">Eclipse</label>
            </li>
         </ul>
      </div>
      <div v-if="step === 2">
         <h2>Step 2 - Insert your values</h2>
         <div v-if="inputs.selectedShape === 'rectangle'">
            <h3>You have selected a <strong>Rectangle</strong>, please input the required variables</h3>
            <input type="number" v-model="inputs.recLength" placeholder="Enter Length*"><br>
            <input type="number" v-model="inputs.recWidth" placeholder="Enter Width*"><br>
            <button class="btn-calculate" v-on:click="next">Calculate</button>
         </div>
         <div v-if="inputs.selectedShape === 'circle'">
            <h3>You have selected a <strong>Circle</strong>, please input the required variables</h3>
            <input type="number" v-model="inputs.cirRadius" placeholder="Enter Radius"><br>
            <button class="btn-calculate" v-on:click="next">Calculate</button>
         </div>
         <div v-if="inputs.selectedShape === 'square'">
            <h3>You have selected a <strong>Square</strong>, please input the required variables</h3>
            <input type="number" v-model="inputs.squSide" placeholder="Enter Side"><br>
            <button class="btn-calculate" v-on:click="next">Calculate</button>
         </div>
         <div v-if="inputs.selectedShape === 'ellipse'">
            <h3>You have selected a <strong>Ellipse</strong>, please input the required variables</h3>
            <input type="number" v-model="inputs.xaxis" placeholder="Enter x-axis"><br>
            <input type="number" v-model="inputs.yaxis" placeholder="Enter y-axis"><br>
            <button class="btn-calculate" v-on:click="next">Calculate</button>
         </div>
      </div>
      <div v-if="step === 3">
         <h2>Step 3 - Your results</h2>
         <h3>You have calculated the area of
            <strong>"{{inputs.selectedShape}}"</strong> to be <strong>"{{area}}"</strong>. Below is your
            result:
         </h3>
         <h3>The area is <strong>"{{area}}"</strong>.</h3>
      </div>
      <ul class="errors" v-if="errors">
         <li v-for="error in errors">{{error}}</li>
      </ul>
      <button class="btn-next" v-show="!(step == 3)" v-on:click="next">Next</button>
      <button class="btn-cancel" v-show="!(step == 1)" v-on:click="prev">
         <div v-if="step == 3">Start Over</div>
         <div v-else>Cancel</div>
      </button>
   </div>
   <script src="https://cdn.jsdelivr.net/npm/vue"></script>
   <script type="text/javascript" src="ta.js"></script>
   </body>
</html>